<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vuejs</title>
	<script src="../vue.js"></script>
</head>
<body>
<!--判断-->
	<div id="app-3">
	  <p v-if="seen">现在你看到我了</p>
	</div>
<!--循环-->
	<div id="app-4">
		<div v-for="todo in todos">
			{{todo.text}}
		</div>
	</div>
<!--处理用户输入-->
<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">逆转消息</button>
</div>
<!--双向绑定-->
<div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
</div>

	<script type="text/javascript">
		var app3= new Vue({
			el:"#app-3",
			data:{
				seen:true
			}
		})
		var app4= new Vue({
			el:"#app-4",
			data:{
				todos:[
					{text:'1ee'},
					{text:'2ee'},
					{text:'3ee'}
				]
			}
		})
		var app5 = new Vue({
			el:"#app-5",
			data:{
				message:"hello vuejs"
			},
			methods:{
				reverseMessage:function(){
					this.message = this.message.split('').reverse().join('')
				}
			}
		})
		var app3= new Vue({
			el:"#app-6",
			data:{
				message:" hello vuejs"
			}
		})
	</script>


</body>
</html>